<html>
  <div class="wrapper">
    <div class="container">
      <div class="home">
        <h1 class="page-heading">Recent Blog Posts</h1>

        <ul class="post-list">
          {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
          {% endfor %}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

      </div>

    </div>
  </div>

</html>
