<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
      <!--    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text"> 
      </div>
    </div>

  </div>

</footer>
