<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="wrapper">
      <div class="container">
        <div class="page-content">
          <div class="wrapper col-xs-6 col-centered">
            {{ content }}
            <div class="home">
              <form id="contactform"
                action="http://formspree.io/dguythomps68@gmail.com"
                method="POST">
                <div class="form-group row">
                  <label class="form-control-label">Email Adress</label>
                  <input type="email" class="form-control input-sm" id="inputsm"
                    name="_replyto">
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Message</label>
                  <textarea name="body" class="form-control input-lg"
                    id="inputlg">
                  </textarea>
                </div>
                <input type ="hidden" name="_subject" value="Website contact" />
                <input type="hidden" name="_next" value="//tr-4outdoors.com" />
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-secondary">Send</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
