<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="slider" style="padding-bottom=0px;">
        <img class="center-block" src="assets/image1.png" />
        <img class="center-block" src="assets/image2.png" />
        <img class="center-block" src="assets/image3.png" />
        <img class="center-block" src="assets/image4.png" />
        <img class="center-block" src="assets/image5.png" />
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="container">
            <div class="col-sm-6">
              {{ content }}
            </div>

        </div>
        <br />
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
