<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="container">
          <div class="row row-centered">
            <div class="col-md-4 col-centered">
              <div class="well">
                <h4 class="text-center"> Hub style 5’ X 5’ stand with wheel assembly:</h4>
                <h5 class="text-center"> $1895.00 plus tax. </h5>
              </div>
              <img class="center-block" src="/assets/product5.png" />
            </div>
          </div>
          <br> <hr class="hr-product"> <br>
          <div class="row row-centered">
            <div class="row row-centered">
              <div class="col-md-4 col-centered">
                <div class="well">
                  <h4 class="text-center"> Hub style 5’ X 5’ stand only (no wheels).
                    Multiple colors available:</h4>
                  <h5 class="text-center"> $1125.00 plus tax.</h5>
                </div>
              </div>
            </div>
            <div class="row row-centered">
              <div class="col-lg-12 col-centered image-array">
                <div class="col-md-2">
                  <img class="center-block" src="/assets/product1.png" />
                  <br>
                </div>
                <div class="col-md-2">
                  <img class="center-block" src="/assets/product2.png" />
                  <br>
                </div>
                <div class="col-md-2">
                  <img class="center-block" src="/assets/product3.png" />
                  <br>
                </div>
                <div class="col-md-2">
                  <img class="center-block" src="/assets/product6.png" />
                  <br>
                </div>
              </div>
            </div>
          </div>
          <br> <hr class="hr-product" > <br>
          <div class="row row-centered">
            <div class="col-md-4 col-centered">
              <div class="well">
                <h4 class="text-center"> Platform for elevated stand (no wheels):</h4>
                <h5 class="text-center"> $225.00 plus tax </h5>
              </div>
              <img class="center-block" src="/assets/product4.png" />
            </div>
          </div>
        </div>
        </br />
        <div class="row">
          <div class="col-md-6">
            <p> Contact us <a href="/contact">HERE</a> if you are interested! </p>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
